.popup
    #site_search
      input(
        type='text'
        placeholder='find something…'
        results='0'
        id='local-search-input'
      )
      #local-search-result
    .popup-btn-close.fa#popupClose